@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --scrollbarsize: 17px;
    --screen-size: calc(100vw - var(--scrollbarsize, 0px));
    --header-height: 70px;
    --header-padding: 5px 15px;
    --header-logo-padding: 5px 0;
  
    /* Sections */
    --section-padding-top: 40px;
    --section-padding-bottom: 40px;
    --section-margin-top: 0;
    --section-margin-bottom: 0;
  
    /* Titles */
    --pre-title-size: 30px;
    --title-xl-size: 40px;
    --title-lg-size: 35px;
    --text-xs-size: 14px;
    --text-size: 18px;
    --text-xl-size: 20px;
    --font-list-size: 18px;
  }
  
  /* Media Query: md and up */
  @media (min-width: 768px) {
    :root {
      --title-xl-size: 40px;
      --title-lg-size: 35px;
    }
  }
  
  /* Media Query: lg and up */
  @media (min-width: 992px) {
    :root {
      --header-height: 90px;
      --header-padding: 10px;
      --header-logo-padding: 0;
      --title-xl-size: 35px;
      --title-lg-size: 30px;
    }
  }
  
  /* Media Query: xl and up */
  @media (min-width: 1200px) {
    :root {
      --header-height: 110px;
      --header-padding: 15px;
      --header-logo-padding: 0;
      --title-xl-size: 40px;
      --title-lg-size: 35px;
    }
  }
  
  /* State Colors */
  :root {
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #17a2b8;
    --color-success: #28a745;
    --color-rgb-danger: 220, 53, 69;
    --color-rgb-warning: 255, 193, 7;
    --color-rgb-info: 23, 162, 184;
    --color-rgb-success: 40, 167, 69;
  }
  
  /* Colors */
  :root {
    --color-primary: #004aad;
    --color-primary-darken: #003c91;
    --color-primary-08: rgba(0, 74, 173, 0.8);
    --color-secondary: #0036a3;
    --color-secondary-darken: #002b8a;
    --color-secondary-08: rgba(0, 54, 163, 0.8);
    --color-tertiary: #00ad9c;
    --color-tertiary-darken: #009387;
    --color-tertiary-08: rgba(0, 173, 156, 0.8);
    --color-gray-100: #f6f6f6;
    --color-gray-200: #e5e5e5;
    --color-gray-300: #d4d4d4;
    --color-gray-400: #a3a3a3;
    --color-gray-500: #727673;
    --color-gray-600: #525252;
    --color-gray-700: #404040;
    --color-gray-800: #262626;
    --color-gray-900: #171717;
    --color-white: #fff;
    --color-black: #262c28;
    --text-color: #a3a3a3;
    --input-color: #a3a3a3;
    --bg-color: #f6f6f6;
    /* -- Colors for button components --- */
    --btn-primary: #3498db;           
    --btn-primary-darken: #2980b9;     
    --btn-secondary: #00ad9c;           
    --btn-tertiary: #f39c12;           
    --btn-color: #ffffff;          
    --btn-white: #ffffff;              
    --btn-text-color: #333333;         
    --font-montserrat: 'Montserrat', sans-serif;  
    --fw-light: 300;                
  }
  
  /* Spacing */
  :root {
    --spacing-base: 1.875rem; /* calculate-rem(30px) */
  }
  
  /* Font Sizes */
  :root {
    --font-level-16: 1rem; /* calculate-rem(16px) */
  }
  
  /* Theme Colors */
  :root {
    --pk-primary: #004aad;
    --pk-secondary: #0036a3;
    --pk-tertiary: #00ad9c;
  }
  
  /* Breakpoints */
  :root {
    --pk-breakpoint-xs: 0;
    --pk-breakpoint-sm: 576px;
    --pk-breakpoint-md: 768px;
    --pk-breakpoint-lg: 992px;
    --pk-breakpoint-xl: 1200px;
    --pk-breakpoint-xxl: 1440px;
    --pk-breakpoint-fhd: 1700px;
  }
  
  /* Reduced Motion */
  @media (prefers-reduced-motion: reduce) {
    :root {
      --nomotion: none;
    }
  }
  
  /* Container Max Widths */
  @media (min-width: 576px) {
    :root {
      --pk-container-max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    :root {
      --pk-container-max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    :root {
      --pk-container-max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    :root {
      --pk-container-max-width: 1140px;
    }
  }
  
  @media (min-width: 1440px) {
    :root {
      --pk-container-max-width: 1320px;
    }
  }
  
  @media (min-width: 1700px) {
    :root {
      --els-container-max-width: 1440px;
    }
  }
  
  /* Custom VW for Large Screens */
  @media (min-width: 2000px) {
    :root {
      --custom-vw: 2000px;
    }
  }
  
  /* ---------------------------------------------------------------------------
   Custom Layout style
  --------------------------------------------------------------------------- */

  main {
    flex: 1;
    overflow: hidden;
    padding-top: var(--header-height);
  }
  
  .page-home section {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
  }
    

/* ---------------------------------------------------------------------------
   Custom Error Page
--------------------------------------------------------------------------- */

 /* Mixin for centering */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Route error styles */
  .route-error {
    background: linear-gradient(0, #004aad, darken(#004aad, 20%)); 
  }
  
  .route-error::selection {
    background: #CDD4DE;
  }
  
  /* Footer positioning on error page */
  .error-page ~ footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  /* Error page styles */
  .error-page {
    display: flex;
    flex-direction: column;
  }
  
  .error-page.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    z-index: 1;
    background: #0D0C1E;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Section and row styling */
  .error-page section,
  .error-page section .container,
  .error-page section .container .row {
    height: 100%;
  }
  
  /* Content styling */
  .error-page .content {
    max-width: 400px;
    max-height: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }
  
  .error-page .content h1 {
    color: #004aad; /* Replace $primary with color */
    font-weight: 700;
    font-size: 125px;
    line-height: 1;
    margin-bottom: -10px;
    opacity: 0.6;
  }
  
  .error-page .content h2 {
    color: #004aad; /* Replace $primary with color */
    font-weight: 700;
    font-size: 54px;
    margin-bottom: 6px;
    opacity: 0.9;
  }
  
  .error-page .content p {
    font-weight: 300;
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 140px;
  }
  
  .error-page .content a {
    max-width: 200px;
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #CDD4DE;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  /* Image styling */
  .error-page .error-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: scale(1.1);
    aspect-ratio: 1;
    object-fit: cover;
  }
  

/* ---------------------------------------------------------------------------
   Buttons styles
--------------------------------------------------------------------------- */


.button {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 10px 30px;
  overflow: hidden;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: none;
  outline: none;
  background-color: var(--btn-primary);
  box-shadow: none;
  color: var(--btn-white);
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: var(--fw-light);
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.button:hover,
.button:active,
.button:focus {
  outline: none;
  background-color: var(--btn-primary-darken);
  box-shadow: none;
  color: var(--btn-white);
  text-decoration: none;
}

.button--small {
  padding: 4px 22px 3px 22px;
  font-size: 13px !important;
}

.button--secondary {
  background-color: var(--btn-secondary);
}

.button--secondary:hover,
.button--secondary:active,
.button--secondary:focus {
  background-color: var(--btn-tertiary);
}

.button--tertiary {
  background-color: var(--btn-tertiary);
}

.button--tertiary:hover,
.button--tertiary:active,
.button--tertiary:focus {
  background-color: var(--btn-secondary);
}

.button--radius-light {
  border-radius: 10px;
}

.scroll-top-button {
  --size: 60px;
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  width: var(--size);
  height: var(--size);
  transition: opacity 0.3s ease-in;
  border: 2px solid var(--btn-primary);
  border-radius: calc(var(--size) / 2);
  opacity: 0;
  background: var(--btn-color);
  color: var(--btn-primary);
  cursor: pointer;
}

.scroll-top-button:hover {
  background-color: var(--btn-primary-darken);
}

.scroll-top-button svg {
  width: 30px;
  height: 30px;
}

@media (min-width: 900px) {
  .scroll-top-button {
    width: 40px;
    height: 40px;
  }
  .scroll-top-button svg {
    width: 24px;
    height: 24px;
  }
}
